body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;

    background-image: url("New\ York\ Central\ park.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.game {
    width: 550px;
    max-width: 90%;
    background: rgba(225,255,225,0.9);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

#story {
    min-height: 115px;
    line-height: 1.6;
    margin: 20px 0;
}

button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 13px;
    border: none;
    border-radius: 8px;
    background: #98b698;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

button:hover {
    background: #596a59;
}

.bar {
    margin-bottom: 15px;
}
.meter {
    width: 100%;
    height: 20px;
    background: #e3e6db;
    border-radius: 10px;
    overflow: hidden;
}

#pollutionFIll {
    width: 0%;
    height: 100%;
    background: #902922;
    transition: width 0.3 ease;
}

#energyFill {
    width: 100%;
    height: 100%;
    background-color: #9ef9a2;
    transition: width 0.3s ease;
}

#inventory {
    margin-top: 15px;
    font-weight: bold;
}